/* Common Nav Styles */
.navigation-wrapper {
    height: 250px;
    background-color: #11122b;
    color: #cbcbcb;
    /* This now makes this a flex-box container */
    display: flex;
    /* Horizontal alignment, flexible distance based on screen size because of flex-box */
    justify-content: space-between; 
    /* Vertical alignment */
    align-items: center;
    padding: 12px 20px; /*Note: per guide should be 60px 100px. I divided by 5 for my screen */
}

/* Left Column Styles */

.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-column >.phone-icon {
    margin-right: 15px;
}

.navigation-wrapper > .left-column > .phone-icon i {
    font-size: 2em;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
    color:#858585;
    font-size: 0.8em;
}

/* Center Column Styles */

.links-wrapper > .nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
}

.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column > .banner-image {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .center-column > .banner-image img {
    width: 216px;
    height: 100%;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.links-wrapper > .nav-link a {
    font-family: "Ubunu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}

/* Right Column Styles */

.navigation-wrapper > .right-column > .address-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
}

.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address-icon {
    margin-left: 15px;
    font-size: 2em;
}

.navigation-wrapper > .right-column > .address-icon a {
    color:#cbcbcb;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .address-icon a:hover {
    color:#cea135;
}

.navigation-wrapper > .right-column > .address-wrapper a {
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .address-wrapper a:hover {
    color: #cea135;
}
