body {
  background-color: grey;
}

.contact-grid-wrapper {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 100px;
}

.company-meta-data-sidebar-wrapper > .logo img {
  width: 100%;
  margin-bottom: 20px;
}

.company-meta-data-sidebar-wrapper > .company-details-wrapper {
  font-family: "Ubuntu Condensed" sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 1.25em;
}

.company-meta-data-sidebar-wrapper > .company-details-wrapper i {
  color: #cea135;
}
